*~
elpa/*
eshell
projectile*
tramp
abbrev_defs
*/.#*
tags
.cask
.#*
places
ido.last
./projectile-bookmarks.eld
var
url
recentf
/.emacs.desktop*
/.mc-lists.el
/network-security.data
elpa25
elpa26
/bookmarks
/README.html
*.sqlite
/transient/*
/vm/.vagrant/*
/vm/share/*
etc/lein/self-installs/*.jar
/etc/lein/repl-history
/etc/bin/circleci
/etc/lein/self-installs/
/etc/bin/cljstyle
/etc/bin/bb
/etc/bin/clj-kondo
/.lsp-session-v1
/etc/bin/clojure-lsp
/etc/bin/ngrok
/.cache/
/history
/etc/bin/jet
/ripgrep-13.0.0-x86_64-apple-darwin/
