*.sqlite
*/.#*
*~
.#*
.cask
.cpcache
/.cache/
/.dap-breakpoints
/.emacs.desktop*
/.lsp-session-v1
/.mc-lists.el
/README.html
/bookmarks
/etc/bin/bb
/etc/bin/circleci
/etc/bin/clj-kondo
/etc/bin/cljstyle
/etc/bin/clojure-lsp
/etc/bin/jet
/etc/bin/ngrok
/etc/lein/repl-history
/etc/lein/self-installs/
**/.clj-kondo/
**/.lsp/
/history
/network-security.data
/projects
/ripgrep-13.0.0-x86_64-apple-darwin/
/transient/*
/tree-sitter/
/vm/.vagrant/*
/vm/share/*
abbrev_defs
clojure-tools/
eln-cache/*
elpa/*
elpa25
elpa26
eshell
etc/lein/self-installs/*.jar
ido.last
places
recentf
straight/
tags
tramp
url
var
workspace
Brewfile.lock.json
/chatgpt/
request/**
/eca/
/logview-cache.extmap
