[submodule "drifter"]
	path = drifter
	url = git@github.com:lukaszkorecki/drifter.git
[submodule "private-configs"]
	path = private-configs
	url = https://github.com/lukaszkorecki/private-configs.git
