{:auto-add-ns-to-new-files? true
 :cljfmt { :vars {:enabled? false},
          :functions {:enabled? false},
          :types {:enabled? false}
          :remove-multiple-non-indenting-spaces? true
          :indents {
                       count-on-exception [[:inner 0]],
                       with-transaction [[:inner 0]],
                       with-timing [[:inner 0]]
                       with-context [[:inner 0]],
                       defprotocol [[:inner 1]],
                       defrecord [[:inner 1]]}}
 }
