{:aliases {:dev {:extra-deps {io.github.lukaszkorecki/rumble {:git/sha "9ee9506ec8d96104a0d24baac41753383a89acaa"}}}
           :check-deps {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                        :main-opts ["-m" "antq.core"]}}}
