#kaocha/v1
 {:plugins [:kaocha.plugin/print-invocations
            :kaocha.plugin/capture-output]
  :fail-fast? true
  :kaocha.plugin.capture-output/capture-output? true
  :reporter [kaocha.report/dots
             r.kaocha-hooks/reporter]}
